[Desktop Entry]
Version=1.0
Type=Application
Exec=/usr/bin/search-all-the-things
Name=Search Menu
Icon=gtk-find
TryExec=/usr/bin/search-all-the-things
Categories=Accessories;
