[Desktop Entry]
Version=1.0
Type=Application
Name=Web - Google
Comment=Search Google
Exec=/usr/bin/search-all-the-things-two Google
Icon=stock_internet
Terminal=false
StartupNotify=false