[Desktop Entry]
Version=1.0
Type=Application
Name=Youtube
Comment=Search Youtube
Exec=/usr/bin/search-all-the-things-two Youtube
Icon=/usr/share/search-all-the-things/Icons/utube.png
Terminal=false
StartupNotify=false